.addstyle{
    background-color: #ddebf8;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b3829;
    padding: 20px;
    border-bottom: 10px solid #dbcefe;
}